<head>
  <title>Wednesday 29th July Design</title>
</head>
<body> 
</body>

<template name="products">
  <p>{{_id}}</p>
  {{#if currentUser}}
  <ul>
    {{#each product}}
        {{> productItem}}
    {{/each}}
    </ul>
   {{/if}}
</template>

<template name="productItem">
    <p><input type="text" value="{{name}}" name="productItemName"> - <input type="text" value="{{price}}" name="productItemPrice"> - [<a href="#" class="delete-todo">Delete</a>]</p>   
</template>

<template name="addProduct">
<form>
<table class="center">  
  <tr><td><input type="text" placeholder="Product Name..." name="productName"></td></tr>
  <tr><td><input type="text" placeholder="Product Price..." name="productPrice"></td></tr>
  <tr><td><button type="submit" class="btn btn-primary" value="submitProduct">Submit Product</button></td></tr>
  </table>
</form>
</template>

<template name="register">
  <form class="register">   
       <h2> Register </h2>
       <table class="center">
       <tr><td>Email: <input type="email" name="email" required></td></tr>
       <tr><td>Password: <input type="password" name="password" required></td></tr>
       <tr><td><input type="submit" class="btn btn-primary" value="Register"></td></tr>
       </table>
 </form>
</template>

<template name="login">
    <form class="login">
        <h2>Login</h2>
       <table class="center">
       <tr><td>Email: <input type="email" name="email" required></td></tr>
       <tr><td>Password: <input type="password" name="password" required></td></tr>
       <tr><td><input type="submit" class="btn btn-primary" value="Log In"></td></tr>
       </table>
    </form>
</template>

<template name="home">
    <p>Sample application where users can post products that they wish to sell. Payment processing will be added later</p>
    {{#if currentUser}}
    <div class="addCategory">
    {{> addCategory}}  
  </div>
  {{/if}}
</template>

<template name="main">
   <div class="container">
  <svg xmlns="http://www.w3.org/2000/svg" version="1.1" id="pin" x="0" y="0" viewBox="0 0 70 82" xml:space="preserve" enable-background="new 0 0 69.943 82.285">
    <linearGradient id="outer" gradientUnits="userSpaceOnUse" x1="35" y1="1" x2="35" y2="100"><stop offset="0" stop-color="#00ADDC"/><stop offset="1" stop-color="#524FA1"/></linearGradient>
    <path class="outer" d="M60.58 56.71c-3.55 3.56-7.32 6.05-10.79 8.53 -3.47 2.44-6.63 4.87-9.01 7.31 -2.4 2.42-4.04 4.85-4.87 6.69 -0.86 1.84-0.92 3.1-0.9 3.04 0.01 0.06-0.04-1.2-0.9-3.04 -0.83-1.84-2.47-4.27-4.87-6.69 -2.39-2.44-5.55-4.88-9.01-7.31 -3.46-2.48-7.24-4.96-10.79-8.53 -3.51-3.54-6.46-7.82-8.06-13.18 -1.6-5.3-1.86-11.68-0.03-18.06 1.8-6.36 5.68-12.72 11.59-17.42 5.85-4.71 13.73-7.77 22.07-7.71 8.34-0.06 16.22 3 22.07 7.71 5.91 4.71 9.79 11.07 11.59 17.43 1.83 6.38 1.58 12.76-0.02 18.06C67.04 48.88 64.09 53.17 60.58 56.71z"/>
    <linearGradient id="center" gradientUnits="userSpaceOnUse" x1="35" y1="103.25" x2="35" y2="22"><stop offset="0" stop-color="#FFFFFF"/><stop offset="0.13" stop-color="#00ADDC"/><stop offset="1" stop-color="#524FA1"/></linearGradient>
    <path class="center" d="M52.16 48.65c-2.38 2.39-4.91 4.06-7.23 5.72 -2.33 1.63-4.44 3.27-6.05 4.9 -1.61 1.62-2.71 3.25-3.27 4.49 -0.58 1.23-0.62 2.08-0.6 2.04 0.01 0.04-0.03-0.81-0.61-2.04 -0.56-1.24-1.65-2.87-3.27-4.49 -1.6-1.64-3.72-3.27-6.04-4.9 -2.32-1.66-4.86-3.33-7.24-5.72 -2.35-2.37-4.33-5.25-5.41-8.84 -1.08-3.56-1.25-7.83-0.02-12.11 1.21-4.26 3.81-8.53 7.78-11.69 3.92-3.16 9.21-5.21 14.81-5.17 5.6-0.04 10.88 2.01 14.81 5.17 3.97 3.16 6.57 7.43 7.78 11.69 1.23 4.28 1.06 8.56-0.02 12.11C56.49 43.4 54.51 46.27 52.16 48.65z"/>
    <linearGradient id="inner" gradientUnits="userSpaceOnUse" x1="35" y1="-1.5" x2="35" y2="83.04"><stop offset="0.15" stop-color="#662D91"/><stop offset="1" stop-color="#00ADDC"/></linearGradient>
    <path class="inner" d="M49.36 46.49c-1.99 2-4.11 3.4-6.06 4.79 -1.95 1.37-3.72 2.73-5.06 4.11 -1.35 1.36-2.27 2.72-2.74 3.76 -0.48 1.03-0.52 1.74-0.51 1.71 0.01 0.03-0.02-0.68-0.51-1.71 -0.47-1.04-1.38-2.4-2.74-3.76 -1.34-1.37-3.11-2.74-5.06-4.11 -1.95-1.39-4.07-2.79-6.06-4.79 -1.97-1.99-3.63-4.39-4.53-7.4 -0.9-2.98-1.04-6.56-0.02-10.14 1.01-3.57 3.19-7.14 6.51-9.78 3.29-2.65 7.71-4.36 12.4-4.33 4.69-0.03 9.11 1.68 12.4 4.33 3.32 2.64 5.5 6.22 6.51 9.79 1.03 3.58 0.89 7.16-0.01 10.14C52.99 42.1 51.33 44.5 49.36 46.49z"/>
  </svg>
  <div class="shadow"> </div>
</div>
  <h1>Wednesday 29th July 2015 Design <span> Who doesn't love a <strong>linear gradient?</strong></span></h1> 
  {{> navigation}}
  {{> yield}}
    {{#if currentUser}}
    <div class="categories">  
    {{> categories}}
  </div>
    {{/if}}
</template>

<template name="navigation">
    <nav role='navigation'>
    <p><a href="{{pathFor route='home'}}">Home</a></p>
    {{#if currentUser}}
      <p><a href="#" class="logout">Logout</a></p>
       {{else}}
    <p><a href="{{pathFor route='register'}}">Register</a></p>
    <p><a href="{{pathFor route='login'}}">Login</a></p>
      {{/if}}
  </nav>
</template>

<template name="addCategory">
    <form>
        <table class="center">
          Create A New Product Category:
        <input type="text" placeholder="Category name here..." name="categoryName">
      </table>
    </form>
</template>

<template name="categories">
    <ul>
      <table class="center-categories">
        {{#each category}}
            <li><a href="{{pathFor route='categoryPage'}}">{{name}}</a></li>
        {{/each}}
      </table>
    </ul>
</template>

<template name="categoryPage">
    <h2>Category Name: {{name}}</h2>
     <div class="addProducts">
      {{> addProduct}}
      </div>
    <div class="products">
    {{> products}}
  </div>
</template>

<template name="loading">
    <p>Loading...</p>
</template>