@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,700);

@-webkit-keyframes bounce {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(5px);
            transform: translateY(5px);
  }
}
@keyframes bounce {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(5px);
            transform: translateY(5px);
  }
}
@-webkit-keyframes shadow {
  0% {
    width: 21px;
    opacity: 0.45;
    -webkit-filter: blur(2px);
            filter: blur(2px);
  }
  100% {
    width: 26px;
    opacity: 0.5;
    -webkit-filter: blur(1px);
            filter: blur(1px);
  }
}
@keyframes shadow {
  0% {
    width: 21px;
    opacity: 0.45;
    -webkit-filter: blur(2px);
            filter: blur(2px);
  }
  100% {
    width: 26px;
    opacity: 0.5;
    -webkit-filter: blur(1px);
            filter: blur(1px);
  }
}
html, body {
  height: 100%;
}

body {
  background-image: -webkit-linear-gradient(#663091, #00addc);
  background-image: linear-gradient(#663091, #00addc);
  background-size: 150%;
  padding: 5% 0;
  font-family: 'Open Sans', sans-serif;
}

.container {
  margin: 0 auto;
  text-align: center;
  width: 100%;
}
.container svg {
  height: calc(82px*2);
  width: calc(70px*2);
}
.container svg[id="pin"] {
  -webkit-animation-name: bounce;
          animation-name: bounce;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
}
.container svg[id="pin"] .outer {
  fill: url(#outer);
}
.container svg[id="pin"] .center {
  fill: url(#center);
}
.container svg[id="pin"] .inner {
  fill: url(#inner);
}
.container .shadow {
  -webkit-animation-name: shadow;
          animation-name: shadow;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
  border-radius: 50%;
  width: 12px;
  height: 4px;
  background: #662D91;
  margin: 10px auto 0;
  opacity: 0.5;
}

.check-1 {
  opacity: 0;
  -webkit-transform-origin: center;
}

h1 {
  margin-top: 3.5vh;
  font-weight: 100;
  text-align: center;
  font-size: 55px;
  line-height: 1.5;
  background: rgba(0, 0, 0, 0.1);
  padding: 0px 0 20px 0;
}
h1 span {
  font-weight: 400;
  display: block;
  font-size: 25%;
}

.products {
  margin-top: 10vh;
  font-weight: 100;
  text-align: center;
  font-size: 20px;
  line-height: 1.5;
  background: rgba(1, 0, 0, 0);
  padding: 0px 0 20px 0;
}
.products span {
  font-weight: 400;
  display: block;
  font-size: 25%;
}

h4.modal-title, input {
  text-align: center;
  padding: 0px 0 0px 0;
}

[name=productItemName], [name=productItemPrice]{
    border:none;
    font-family: 'Open Sans', sans-serif;
    font-size: 100%;
    padding:0.15em;
    cursor:default;
    outline:none;
    background-color: #00addc;
}

a {
  font-family: 'Open Sans', sans-serif;
  color: #2196F3;
}

p {
  text-align: center;
}

h2 {
  text-align: center;
  font-size: 22.5px;
}

td {
    text-align:right;
}

table.center {
    margin-left:auto; 
    margin-right:auto;
  }

table.center-categories {
  margin-left:auto; 
  margin-right:auto;
  margin-top: 7vh;
}